@charset "UTF-8";

/*===Google Fonts Passion One===*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/*===Googel Fonts Sriracha===*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/*Configuração padrão*/
:root{
    --font0: Verdana, Geneva, Tahoma, sans-serif;
    --font1: 'Passion One', cursive;            /*Título*/
    --font2: 'Sriracha', cursive;               /*Conteúdo*/
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 20px;
    font-variant: small-caps;
    font-family: var(--font1);
}

header > p{
    padding-bottom: 20px;

}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-family: var(--font2);
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: rgba(211, 211, 211, 0.2);
}

section.imagem{
    background-color: rgba(223, 223, 223, 0.6);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;           /*Importante para apresentar efeito PARALLAX*/
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.432);
    display: inline-block;                  /*Ajusta a DIV de acordo com o texto*/
    color: white;
    border-radius: 10px;
    padding: 10px;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;      /*Ajusta a imagem na posição preferida (Direita /* Centro)*/
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}